@{
    ViewData["Intro"] = "Введение";
}

<div class="text-center">
    <h1 class="display-4">Введение в ASP</h1>
</div>
<p>
    <b>ASP</b> - Acrive Server Pages - комплекс (фреймоворк) .NET
    для разработки серверных приложений
</p>
<p>
    Отличительной особенностью являеться согласование работы различных
    частей приложения по совпадению имен классов,представлений
    с названиеми файлов, папок и частей URL - запрпоса.
</p>